* {
  box-sizing: border-box;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #555;
  font-size: 16px;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.header {
  color: white;
  text-align: center;
  background-image: linear-gradient(60deg, red, orange);
}
.main {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
}
.footer {
  display: flex;
  background-color: #e5e5e5;
  padding: 0.5em;
  align-items: flex-end;
  justify-content: space-around;
}
.navigation,
.section,
.news {
  padding: 0.5em;
  /* flex: 1; */
}
.navigation {
  width: 20vw;
  /* font-size: 1.25em; */
}
.section {
  /* width: 60vw; */
  font-size: 1.25em;
}
/* .news {
  width: 20vw;
} */
.units-list {
  line-height: 1.75em;
}
.css-units {
  color: #8b0000;
  background-color: #e5e5e5;
  font-size: 112.5%;
  font-weight: 700;
}
.section__header {
  font-size: 5vw;
  text-align: center;
}
.nav-list {
  padding: 0;
  list-style: none;
}
.nav-list-item {
  background-color: #808080;
  color: white;
  line-height: 2em;
  margin-bottom: 0.5em;
}
.nav-list-link {
  display: block;
  padding: 0 0.5em;
  color: white;
  text-decoration: none;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
img {
  max-width: 100%;
}
@media screen and (max-width: 600px) {
  .main {
    flex-direction: column;
  }
  .navigation,
  .section,
  .news {
    width: 100%;
  }
}
@media screen and (min-width: 600px) and (max-width: 1200px) {
  .section {
    width: 80%;
  }
  .navigation {
    width: 20%;
  }
  .news {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .navigation {
    width: 20%;
  }
  .section {
    width: 60%;
  }

  .news {
    width: 20%;
  }
}
