* {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: space-around;
}
.fa-battery-full {
  font-size: 16px;
  justify-content: space-around;
}
.fa-battery-three-quarters {
  font-size: 32px;
  justify-content: space-around;
}
.fa-battery-half {
  font-size: 64px;
  justify-content: space-around;
}
.fa-battery-quarter {
  font-size: 128px;
  justify-content: space-around;
}
.fa-battery-empty {
  font-size: 256px;
  justify-content: space-around;
}
