* {
  box-sizing: border-box;
}
.block {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  text-align: center;
  width: 250px;
  height: 100px;
  border-radius: 10px;
  background-color: coral;
  align-content: center;
  line-height: 100px;
  position: absolute;
  animation: move;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
.container {
  display: flex;
  position: relative;
  width: 100vw;
  height: 100vh;
  justify-content: center;
}
@keyframes move {
  0% {
    top: -100px;
  }
  100% {
    top: calc(50vh - 50px);
  }
}
