.rectangle {
  width: 420px;
  height: 140px;
  background-color: bisque;
  padding: 20px;
  border-width: 10px 20px;
  margin: 50px 100px;
  border-top-color: firebrick;
  border-right-color: chartreuse;
  border-bottom-color: burlywood;
  border-left-color: aqua;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: dashed;
  border-left-style: dashed;
  font-size: 24px;
}
