* {
  box-sizing: border-box;
}
.text {
  position: absolute;
  display: inline-block;
  min-width: 125px;
  width: 125px;
  margin: 16px;
  text-decoration: underline 1px dotted black;
}
.tooltip {
  display: none;
  /* display: inline-block; */
  position: relative;
  bottom: calc(-40px + 16px + 22px);

  text-decoration: none;
  background-color: gray;
  color: white;
  border-radius: 4px;
  padding: 8px;
}
.text:hover .tooltip {
  display: inline-block;
}
