* {
  box-sizing: border-box;
}

picture {
  margin: auto;
}
body {
  display: flex;
  align-items: center;
}
img {
  max-width: 100%;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}
/* picture {
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
} */
