/* * {
  box-sizing: border-box;
} */

.checkbox {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin: 16px;
  font-size: 24px;
  cursor: pointer;
}
input[type='checkbox'] {
  visibility: hidden;
  /* width: 8px; working*/
  height: 0;
  width: 0;
}

.checkmark {
  /* margin: auto; */
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background-color: #d3d3d3;
}
.checkbox input:checked + .checkmark {
  background-color: #006400;
}
